{% extends 'base.html.twig' %}

{% block title %}Votre annonce a bel et bien été supprimé{% endblock %}

{% block body %}

	<div class="column">
		<a href="{{ path('covid') }}" class="btn btn-primary">
			Voir la liste des annonces</a>
	</div>