{% extends 'base.html.twig' %}

{% block body %}

<div class="text-center">
<h1> Bienvenue sur la plateforme Covidarité ! </h1>

<br> </br>
<br> </br>


<p>
    Covidaire est une action citoyenne qui a été créée en réponse à l'épidémie actuelle du COVID-19.<br>
    Le but de ce site Internet est de créer une plateforme d'entraide réunissant des volontaires en bonne santé, 
    les personnes à risque et les personnes malades. <br> 
    Nos volontaires se ferront une joie d'aider toutes personnes malades ou à risque gratuitement ! <br>
</p>



<img width="300" height="300" class="col-md-4" src="img/logo.png">
</div>



{% endblock %}

