{% extends 'base.html.twig' %}

{% block body %}

<h1> {{title}} </h1>


<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quo nobis, optio nostrum inventore vero eaque nulla? Ab, mollitia rerum beatae sapiente atque quisquam iusto ducimus temporibus deserunt fugit quas excepturi quidem quod? In magnam et consequatur, a quod ipsa?</p>
<p>Ipsam placeat velit cupiditate fuga sit? Itaque distinctio tempore nam, quae laboriosam rem qui a deleniti, asperiores quos, modi quasi explicabo culpa. Architecto, magnam, nostrum ipsa natus in voluptas ratione provident quisquam, blanditiis culpa unde cum perferendis maxime ut repellendus?</p>


{% endblock %}

